# DS542 Class 3
#### date: 12/16/21
---

## Review from class 1 and 2

In [ ]:
# integers
# they are any whole number

10 + 20.0

In [ ]:
x = 15
y = 5

In [ ]:
x * y

In [ ]:
a = 3
b = 2

In [ ]:
# exponents
a ** b

In [ ]:
# floats
# floats are numbers with a decimal

3.14 - 1.5

In [ ]:
type(3.14 - 1.5)

In [ ]:
c = 7.5
d = 2.3

In [ ]:
c / d

In [ ]:
# rounding a float
round(3.2798, 2)

In [ ]:
round(c / d, 1)

In [ ]:
# strings
# combination of characters, they can include spaces (whitespaces)

greeting = "Hello"
file_path = 'documents/images/python_logo.png'

In [ ]:
# string index
greeting[0]

In [ ]:
# string slicing
# [start : stop : step]
greeting[3:5]

In [ ]:
greeting[0:5:2]

In [ ]:
# reverse of a string
greeting[::-1]

In [ ]:
# built-in string methods
# .lower() example
greeting.lower()

In [ ]:
# islower() method
"Farewell".islower()

In [ ]:
greeting.lower().islower()

In [ ]:
# equivalence
"hello" == "hello"

In [ ]:
a = 10
b = 20

a == b

In [ ]:
a != b

In [ ]:
# input() function (built-in python function)
# input() allows the user to define a variable in real-time

name = input("What is your name?")

In [ ]:
name

In [ ]:
# input() as an integer
your_guess = int(input("Guess a number between 1 and 10: "))

In [ ]:
your_guess

In [ ]:
type(your_guess)

In [ ]:
# best practices for naming variables, use underscores and lowercase letters
brand_name = "Nike"

In [ ]:
brand_name

In [ ]:
# lists from class #2
# list is a collection of values inside square brackets

dogs = ["poodle", "german shepard", "bulldog", "golden doodle", "yorki"]

In [ ]:
type(dogs)

In [ ]:
len(dogs)

In [ ]:
# index of a list
dogs[2]

In [ ]:
# reverse of a list [::-1]
dogs[::-1]

In [ ]:
# lists are mutable
del dogs[0]

In [ ]:
dogs

In [ ]:
dogs.remove("bulldog")

In [ ]:
dogs

In [ ]:
dogs[0] = "golden retriever"

In [ ]:
dogs

In [ ]:
# in and not in operators
"yorki" in dogs

## Lists and list methods

In [ ]:
fruit = ["oranges", "bananas", "apples", "pears"]

In [ ]:
# how to search a list by value rather than index position
# use .index()
fruit.index("bananas")

In [ ]:
fruit[1]

In [ ]:
# what if you want to add one element to a list?
# use .append()
fruit.append("blueberries")

In [ ]:
fruit

In [ ]:
# what if you want to add an element to a list in a specific index position?
# use .insert()
fruit.insert(1, "watermelon")

In [ ]:
fruit

In [ ]:
# what if you want to add multiple elements to a list at once?
# use .extend()
# .extend() takes a list as its argument

fruit.extend(["limes", "plums"])

In [ ]:
fruit

In [ ]:
# what if you want to sort elements in a list?
# .sort() to sort elements in-place

fruit.sort()

In [ ]:
fruit

In [ ]:
# what about if you want to sort in descending order, from z to a?

fruit.sort(reverse = True)

In [ ]:
fruit

In [ ]:
# a method to reverse a list

tens = [10, 20, 30, 40, 50, 60]

In [ ]:
tens

In [ ]:
tens.reverse()

In [ ]:
tens

In [ ]:
tens[::-1]

In [ ]:
# lets create a function to check if a list is the same forwards and backwards

def is_list_a_palindrome(a_list: list):
    
    # first check if the argument is a list
    if type(a_list) == list and len(a_list) > 0:
        
        a_list_reverse = a_list[::-1]
        
        # check if the list is the same forwards and backwards
        if a_list == a_list_reverse:
            print(f"Yes, {a_list} is a palindrome")
            
        else:
            print(f"No, {a_list} is not a palindrome")
            
    else:
        print("your list is not a list or its empty")

In [ ]:
is_list_a_palindrome(["hello", "goodbye", "see you later", "goodbye", "hello"])

## Tuples

In [2]:
user_info = (123456, "John Doe", "100 2nd Ave")

In [3]:
# tuple index
user_info[0]

123456

In [4]:
user_info[-1]

'100 2nd Ave'

In [5]:
type(user_info)

tuple

In [6]:
# how can you store a tuple with one value
user_id = (98765,)

In [7]:
type(user_id)

tuple

In [8]:
user_id[0]

98765

## Dictionaries

In [9]:
# defining a dictionary
birthdays = {"John": "June 1", "Carol": "August 17", "Sameer": "September 25", "Emily": "June 24"}

In [10]:
type(birthdays)

dict

In [11]:
birthdays["Sameer"]

'September 25'

In [12]:
# add an element to the dictionary
birthdays["Arun"] = "January 12"

In [13]:
birthdays

{'John': 'June 1',
 'Carol': 'August 17',
 'Sameer': 'September 25',
 'Emily': 'June 24',
 'Arun': 'January 12'}

In [14]:
# lets make another dictionary with integers as keys
combinations = {}

In [15]:
combinations[1234] = "gym lock"

In [16]:
combinations[9999] = "bike lock"

In [17]:
combinations

{1234: 'gym lock', 9999: 'bike lock'}

In [18]:
# dictionary methods
# how to look at all the keys of a dictionary?
# .keys()

birthdays.keys()

dict_keys(['John', 'Carol', 'Sameer', 'Emily', 'Arun'])

In [19]:
# how to see all the values in a dictionary?
# .values()

birthdays.values()

dict_values(['June 1', 'August 17', 'September 25', 'June 24', 'January 12'])

In [22]:
# in and not in operators
# is august 17 in values?

"august 17" in birthdays.values()

True

In [23]:
"Frank" in birthdays.keys()

False

In [24]:
# what if you want to look at all key, value pairs
# .items()

birthdays.items()

dict_items([('John', 'June 1'), ('Carol', 'August 17'), ('Sameer', 'September 25'), ('Emily', 'June 24'), ('Arun', 'January 12')])

In [25]:
for key,value in birthdays.items():
    print(key,'...',value)

John ... June 1
Carol ... August 17
Sameer ... September 25
Emily ... June 24
Arun ... January 12

In [28]:
"John" in birthdays.items()

False

In [29]:
# how to loop through all keys or values in a dictionary
for key in birthdays.keys():
    print(key)

John
Carol
Sameer
Emily
Arun

In [30]:
# what if you want to search for a key, but if it does not exist you want to return a value
# .get() method

birthdays.get("Michael", "November 1")

'November 1'

In [31]:
# add a key, value to a dictionary if it does not exist
# .setdefault

birthdays.setdefault("Erin", "December 2")

'December 2'

In [32]:
birthdays

{'John': 'June 1',
 'Carol': 'August 17',
 'Sameer': 'September 25',
 'Emily': 'June 24',
 'Arun': 'January 12',
 'Erin': 'December 2'}

In [36]:
birthdays.setdefault("John", "December 15")

'June 1'

In [37]:
birthdays

{'John': 'June 1',
 'Carol': 'August 17',
 'Sameer': 'September 25',
 'Emily': 'June 24',
 'Arun': 'January 12',
 'Erin': 'December 2'}

In [39]:
# application of .setdefault
# page 117 of your textbook

annoucement = "Your upcoming homework is due in 3 weeks, make sure to submit on time."

count_of_characters = {}

for character in annoucement:
    #print(character)
    count_of_characters.setdefault(character, 0)
    count_of_characters[character] = count_of_characters[character] + 1
    
count_of_characters

{'Y': 1,
 'o': 6,
 'u': 5,
 'r': 3,
 ' ': 13,
 'p': 1,
 'c': 1,
 'm': 5,
 'i': 5,
 'n': 3,
 'g': 1,
 'h': 1,
 'e': 7,
 'w': 2,
 'k': 3,
 's': 4,
 'd': 1,
 '3': 1,
 ',': 1,
 'a': 1,
 't': 3,
 'b': 1,
 '.': 1}

## Data Type: Set

In [43]:
# what is a set?
# a list with no duplicate elements

# how to define a set?
# use curly brackets {}, but you do not use : which will make a dictionary

greetings = {"hello", "how are you?", "Hi there", "hello"}

In [44]:
greetings

{'Hi there', 'hello', 'how are you?'}

In [45]:
# to append to a set use .add()

greetings.add("howdy")

In [46]:
greetings

{'Hi there', 'hello', 'how are you?', 'howdy'}

In [47]:
# to remove all elements from a set at once use .clear()
greetings.clear()

In [48]:
greetings

set()

In [49]:
# looking at difference between sets

tens = {10, 20, 30, 40, 50}
fives = {5, 10, 15, 20, 25, 30, 35, 40, 45, 50}

In [50]:
fives - tens

{5, 15, 25, 35, 45}

In [51]:
test_list = ["dogs", "cats", "birds", "dogs"]

In [52]:
test_set = set(test_list)

In [53]:
test_set

{'birds', 'cats', 'dogs'}

## If statements

In [58]:
magic_number = int(input("Enter a number between -30 and 30: "))

if magic_number < 0:
    print("magic number is a negative number")
    
elif magic_number == 0:
    print("magic number is zero")
    
elif magic_number > 0:
    print("magic number is a positive number")
    
else:
    print("something went wrong with your number selection")
    
print("if statement is complete")

Enter a number between -30 and 30: 33
magic number is a positive number
if statement is complete

In [59]:
# example two

your_message = input("Enter a message here")

if len(your_message) == 0:
    print("your message is blank")
    
elif len(your_message) > 0 and len(your_message) < 20:
    print("your message isn't blank, but less than 20 characters")
    
else:
    print("your message is greater than 20 characters")

Enter a message herehowdy folks, welcome to master school - hello hoosiers!
your message is greater than 20 characters

In [60]:
# example 3, a long example including dictionary

password_dict = {"luggage" : 1234,
                "gym locker" : 9898,
                "garage code" : 2222,
                "bike lock" : 1000}

name = input("Hello, what is your name?")

print(f"Hello {name}, what would you like to open?")

question_answer = input()

if question_answer.lower() in password_dict.keys():
    print(f"Ok, {name}, what is the password to {question_answer}?")
    
    password_answer = int(input())
    
    if password_answer == password_dict[question_answer]:
        print("access granted!")
        
    else:
        print("wrong password, access denied")
        
else:
    print(f"Sorry {name}, {question_answer} does not exist in dictionary")

Hello, what is your name?Joe
Hello Joe, what would you like to open?
gym locker
Ok, Joe, what is the password to gym locker?
9898
access granted!

In [ ]:
# if statement to see if you can guess a random number between 1 and 10

import random

random_number = random.randint(1, 10)

your_guess = int(input("What is your guess between 1 and 10?"))

if your_guess == random_number:
    print(f"correct! your guess {your_guess} was equal to the random number")
    
else:
    print(f"incorrect, your guess was {your_guess} the random number was {random_number}")